<form>
    <div class="description">
        <p>GEO2Enrichr is a web application for extracting gene sets from SOFT files and analyzing these lists for common biological functions. Choose between two methods of gene set extraction:
        </p>
        <ol>
            <li>Install the <a href="https://chrome.google.com/webstore/detail/geo2enrichr/pcbdeobileclecleblcnadplfcicfjlp">Chrome Extension</a> to use GEO2Enrichr on the <a href="http://www.ncbi.nlm.nih.gov/geo/" target="_blank">Gene Expression Omnbius</a> website.</li>
            <li>Use the form below to upload a SOFT file. Please see our <a href="#help">Help Page</a> for details on file formatting.</li>
        </ol>
        <p>Click <a href="#example">here</a> to use an example SOFT file to see the application's output.</p>
    </div>
    <table class="form">
        <caption>Please select a file to upload and input required metadata.</caption>
        <tr>
            <td>File</td>
            <td>
                <input type="file" name="file">
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input name="name" value="<%= platform %>">
            </td>
        </tr>
        <tr>
            <td>Platform</td>
            <td>
                <input name="platform" value="<%= platform %>">
            </td>
        </tr>
        <tr>
            <td>Organism</td>
            <td>
                <input name="organism" value="<%= organism %>">
            </td>
        </tr>
    </table>
    <table class="form">
        <caption>Please select differential expression analysis options.</caption> 
        <tr>
            <td>Method</td>
            <td>
                <select name="method">
                    <option value="chdir">Characteristic Direction</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Cutoff</td>
            <td>
                <select name="cutoff">
                    <option value="500">500</option>
                    <option value="200">200</option>
                    <option value="None">None</option>
                </select>
            </td>
        </tr>
    </table>
    <table class="form">
        <caption>Please input optional metadata.</caption> 
        <tr>
            <td>Cell</td>
            <td>
                <input name="cell" value="<%= cell %>">
            </td>
        </tr>
        <tr>
            <td>Perturbation</td>
            <td>
                <input name="perturbation" value="<%= perturbation %>">
            </td>
        </tr>
        <tr>
            <td>Gene</td>
            <td>
                <input name="gene" value="<%= gene %>">
            </td>
        </tr>
        <tr>
            <td>Disease</td>
            <td>
                <input name="disease" value="<%= disease %>">
            </td>
        </tr>
    </table>
    <button class="submit">Submit</button>
</form>
