# OSX
*.DS_Store

# directories
UnmodifiedGeoScripts/
screenshots/
platform scripts/
PlatformInfoForGreg/
data/

# Misc
accessionlist_example.txt

# Collected data
static/geofiles/anova/*
static/geofiles/chdir/*
static/genefiles/*

# Sublime Text
geo.sublime-project
geo.sublime-workspace

# Python
*.pyc

# Hopefully temporary
probe2gene.py