Flask==0.10.1
Flask-Cors==2.0.1
Flask-Migrate==1.5.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Jinja2==2.7.3
Mako==1.0.1
MarkupSafe==0.23
Pillow==3.0.0
SQLAlchemy==0.9.9
Werkzeug==0.10.1
alembic==0.7.7
appnope==0.1.0
backports.ssl-match-hostname==3.4.0.2
certifi==2015.9.6.2
configparser==3.3.0r2
cycler==0.9.0
decorator==4.0.4
functools32==3.2.3-2
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
jsonschema==2.5.1
matplotlib==1.5.0
mysql-connector-python==2.0.4
networkx==1.10
nose==1.3.4
numpy==1.9.2
pandas==0.16.2
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pylab==0.1.3
pyparsing==2.0.5
python-dateutil==2.4.2
pytz==2015.6
pyzmq==15.0.0
requests==2.6.0
rpy2==2.5.6
scikit-image==0.11.3
scikit-learn==0.16.1
scipy==0.15.1
seaborn==0.6.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.9.0
sklearn==0.0
substrate==1.0
sympy==0.7.6.1
tornado==4.2.1
traitlets==4.0.0
wsgiref==0.1.2