/* Tag and class selectors
 * ----------------------- */
body {
	font-family: Arial, Sans-serif;
}
p,
span,
td,
tr,
input,
label {
	font-family: Arial, Sans-serif;
	font-size: 13px;
}
p,
ol {
	margin-bottom: 13px;
}
a {
	color: #009DFF;
	font-family: Arial, Sans-serif;
}
a:hover,
a:active,
a:visited {
	color: #009DFF;
}
h4 {
	font-size: 14px;
}
input,
select {
	background: none;
	border: none;
	border-radius: 0;
	font-size: 13px;
}
button {
	color: #fff;
	background: #009DFF;
	border: none;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
}
button:hover {
	background: #0078C2;
	cursor: pointer;
}
table {
	border: none;	
}
table,
tbody,
tr,
td {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}
.clear {
    clear: both;
}
.error {
    color: red;
    font-weight: bold;
}
.last {
	padding-top: 20px;
}
.lowlight {
	color: #555555;
	font-size: 13px;
	font-style: italic;
	padding-bottom: 5px;
}

/* Page 
 * ---- */
#page {
	margin: 20px;
	width: 800px;

}

/* Modal title
 * ----------- */
#title a,
#title a:hover {
	color: #000;
}
#title a:hover {
	cursor: pointer;
	text-decoration: none;
}
#title img {
	width: 30px;
}
#title span:first-of-type {
    margin-left: 10px;
}
#title span {
	font-size: 40px;
	font-family: 'Open Sans';
    font-weight: bold;
	/*left: 10px;
	position: relative;
	top: -4px;*/
}
#title {
    float: left;
}

/* Modal navigation
 * ---------------- */
#nav {
    float: right;
}
#nav #close-btn {
	background: white;
	border: none;
	color: #808080;
	cursor: pointer;
	font-size: 20px;
	height: 25px;
	padding: 0 2px;
	width: 25px;
}
#nav #close-btn:hover {
	color: #696969;
}
#nav select {
    background: #009DFF;
    color: #fff;
    font-size: 16px;
    margin-right: 5px;
    padding: 4px;
    position: relative;
    top: -2px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

/* Modal footer progress bar
 * ------------------------- */
#progress-bar {
	display: none;
	float: left;
}
#progress-bar .progress {
	background: #D3D3D3;
	color: gray;
	float: left;
	font-family: Verdana, Arial, Sans-serif;
	font-size: 10px;
	height: 15px;
	padding: 5px;
}
#progress-bar .progress.ready {
	background: gray;
	color: #fff;
}
#progress-bar #step1,
#progress-bar #step2,
#progress-bar #step3,
#progress-bar #step4 {
	border-right: 1px solid white;
}

/* Modal confirm
 * ------------- */
#confirm .bottom {
	padding-top: 20px;
}
.confirm-tbl {
	padding-top: 10px;
	table-layout: fixed;
	width: 100%
}
.confirm-tbl tr {
	border-bottom: 1px solid #ccc;
	height: 25px;
}
.confirm-tbl td {
	padding: 2px 0;
	vertical-align: middle;
	word-wrap: break-word;
}
.confirm-tbl td.title {
	font-weight: bold;
	width: 210px;
}
.confirm-tbl td.value {
	padding-left: 10px;
}
.confirm-tbl td.editable:hover {
	cursor: pointer;
	background: #eee;
}
.confirm-tbl .last {
	border: none;
}
.confirm-tbl #diffexp td {
	padding: 0;
}
.confirm-tbl input,
.confirm-tbl select {
    width: 100%;
}

/* Modal footer results
 * -------------------- */
#footer {
	clear: both;
	padding: 10px 0 0 0;
	min-height: 45px;
}
#footer table .title {
	width: 130px;
}
#footer > table {
	/* Prevents the table's tds from expanding when content is inserted. */
	table-layout: fixed;
	width: 100%;
}
#footer > table td {
	padding: 5px 10px 0 0;
}
#results {
    display: none;
}
#results button {
	display: inline;
	margin-right: 5px;
	min-width: 40px;
	padding: 5px;
}
#results button:hover {
	background: #0078C2;
	cursor: pointer;
}

/* Modal credits
 * ------------- */
#credits {
    padding-top: 20px;
}
#credits,
#credits a {
	font-style: italic;
	font-size: 12px;
}

/* Embedded button
 * --------------- */
#embedded-button {
	color: #009DFF;
	cursor: pointer;
}
#embedded-button span {
	display: inline-block;
}
#embedded-button span:hover {
	text-decoration: underline;
}
#embedded-button b,
#embedded-button span {
	position: relative;
	top: 8px;
}
#embedded-button img {
	float: right;
	width: 32px;
}

/* Process
 * ------- */
ol#process {
	list-style: decimal;
}

/* Embedded table
 * -------------- */
#table-title {
	color: #d90000;
}

/* jQuery UI and other overrides
 * --------- */
/*.lock,
.lock:hover {
	background: gray;
}
.tooltip {
	color: black !important;
	background: #FFFACD !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	border: 1px solid #ccc !important;
}*/
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
	background: #fff;
	color: gray;
	font-size: 10px;
	z-index: 1001;
	width: 100px;
}
/*.ui-tooltip,
.ui-widget,
.ui-corner-all,
.ui-widget-content {
	font-size: 10px !important;
	border-radius: none !important;
}
.ui-state-focus {
	background: #eee !important;
}*/
