<div class="container-full" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About</h5>
                <p>GEO2Enrichr is actively developed by the <a href='https://icahn.mssm.edu/research/labs/maayan-laboratory' target='_blank'>Ma'ayan Laboratory</a> at the <a href='https://icahn.mssm.edu/' target='_blank'>Icahn School of Medicine at Mount Sinai</a> as a part of the efforts of the <a href='https://www.lincs-dcic.org/' target='_blank'>BD2K-LINCS-DCIC</a> and <a href='https://commonfund.nih.gov/idg/index' target='_blank'>KMC-IDG</a>, which are <a href="https://commonfund.nih.gov/ " target="_blank">NIH Common Fund</a> sponsored centers.</p>
            </div>
            <div class="col-md-4">
                <h5>Citation</h5>
                <p>Gregory W. Gundersen, Matthew R. Jones, Andrew D. Rouillard, Yan Kou, Caroline D. Monteiro, Axel S. Feldmann, Kevin S. Hu, Avi Ma’ayan. GEO2Enrichr: browser extension and server app to extract gene sets from GEO and analyze them for biological functions. <a href="https://www.ncbi.nlm.nih.gov/pubmed/25971742" target="_blank">Bioinformatics. 2015 Sep 15;31(18):3060-2. doi: 10.1093</a>.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Please contact Avi Ma’ayan and Gregory Gundersen for comments, suggestions, and support: <a href="mailto:avi.maayan@mssm.edu">avi.maayan@mssm.edu</a>, <a href="mailto:gregory.gundersen@mssm.edu">gregory.gundersen@mssm.edu</a>.</p>
            </div>
        </div>
    </div>
</div>
