<div class="container-full">
    <div class="container">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="first">
                    <a href="documentation" class="api">API</a>
                </li>
                <li>
                    <a href="manual" class="manual">Manual</a>
                </li>
                <li>
                    <a href="pipeline" class="pipeline">Pipeline</a>
                </li>
                <li>
                    <a href="https://github.com/MaayanLab/geo2enrichr" target="_blank">Code</a>
                </li>
                <li>
                    <a href="about" class="about">About</a>
                </li>
                <li class="last">
                    <a href="{{""|c_gen3va_url}}" target="_blank">GEN3VA</a>
                </li>
            </ul>
        </div>
    </div>
</div>