@font-family-base: arial, sans-serif;
@font-family-accent: 'Open Sans', arial, sans-serif;
@font-family-mono: 'Consolas', courier, monospace;

@font-size-base: 13px;

@color-darkgray: #444444;
@color-gray: #aaaaaa;
@color-lightgray1: #f5f5f5;
@color-lightgray2: #f9f9f9;
@color-lightgray3: #eeeeee;
@color-blue: #009dff;
@color-blue-light: #67c4ff;
@color-blue-dark: #006eb3;
@color-darkblue: #0078c2;
@color-red: #d90000;
@color-lightyellow: #fffac7;
@color-yellow: #fff169;
@color-purple: #6f5499;
@color-dark-purple: #574278;

@color-black-almost: #444;