<link href='static/style/consensus.css' rel='stylesheet' type='text/css'/>
<script src="static/lib/highcharts/highcharts.js"></script>
<script src="static/lib/highcharts/highcharts-3d.js"></script>
<script src="static/lib/highcharts/highcharts-exporting.js"></script>

<link href="static/lib/dataTables/dataTables.bootstrap.css" rel='stylesheet'/>
<script src="static/lib/dataTables/dataTables.js"></script>
<script src="static/lib/dataTables/dataTables.bootstrap.js"></script>

<script src="static/js/pca.js"></script>
<script src="static/js/consensus.js"></script>

<div id="consensus">
    <div class="description">
        <div class="row">
            <div class="col-md-12">
                <h4>Analyze consensus signatures</h4>
                <ol>
                    <li>Using the drop down below, select an analysis tool.</li>
                    <li>Using the checkboxes in the right-most column, select gene signatures.</li>
                    <li>Click <strong>Analyze</strong></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 options">
                <select id="analysis-tool">
                    <option>(Select analysis tool)</option>
                    <option data-app="enrichr">Hierarchical clustering of enriched terms from Enrichr</option>
                    <option data-app="l1000cds2">Hierarchical clustering of small molecules from L1000CDS2</option>
                    <option data-app="clustergrammer">Hierarchical clustering of gene signatures</option>
                    <option data-app="pca">Principal Component Analysis of gene signatures</option>
                </select>
                <button class="btn btn-default">Analyze</button>
            </div>
            <div class="col-md-6 optional-options">
                <!--
                    http://amp.pharm.mssm.edu/Enrichr/datasetStatistics
                -->
                <select id="enrichr-background" data-app-option="enrichr" class="app-options hidden">
                    <option>(Select gene set library)</option>
                    <option>ChEA</option>
                    <option>ENCODE_TF_ChIP-seq_2015</option>
                    <option>Epigenomics_Roadmap_HM_ChIP-seq</option>
                    <option>KEGG_2015</option>
                    <option>PPI_Hub_Proteins</option>
                    <option>GO_Biological_Process</option>
                    <option>MGI_Mammalian_Phenotype_Level_4</option>
                </select>
                <select id="l1000cds2-mode" data-app-option="l1000cds2" class="app-options hidden">
                    <option>(Select to mimic or reverse expression)</option>
                    <option>Mimic</option>
                    <option>Reverse</option>
                </select>
            </div>
        </div>
    </div>
    <div id="clustergrammer-preview">
        <iframe></iframe>
        <p>
            <button class="btn btn-default">Close</button>
            <a href="" class="right" target="_blank">Open in Clustergrammer.</a>
        </p>
    </div>
    <div id="pca-container">
        <div id="pca-visualization"></div>
        <button class="btn btn-default">Close</button>
    </div>
    <div id="l1000cds2-preview">
        <iframe></iframe>
        <p>
            <button class="btn btn-default">Close</button>
        </p>
    </div>
    <div id="enrichr-preview">
        <iframe></iframe>
        <p>
            <button class="btn btn-default">Close</button>
        </p>
    </div>
</div>