<h2>Upload custom SOFT file</h2>
<div id="example-file">
    <button class="btn btn-default">Try an example SOFT file.</button>
    <a href="static/softfile/example_input.txt" class="">Download example file</a>
</div>
<form>
    <table class="table input-group">
        <caption class="first">Please select a file to upload and input required metadata.</caption>
        <tr id="file-input">
            <td class="key">File (500 MB max)</td>
            <td class="value">
                <input type="file" name="file">
            </td>
        </tr>
        <tr id="description-input">
            <td class="key">Description</td>
            <td class="value">
                <input type="text" class="form-control input-sm" name="name" value="">
            </td>
        </tr>
        <tr id="platform-input">
            <td class="key">Platform</td>
            <td class="value">
                <input type="text" class="form-control input-sm" name="platform" value="">
            </td>
        </tr>
        <tr id="description-organism">
            <td class="key">Organism</td>
            <td class="value">
                <input type="text" class="form-control input-sm" name="organism" value="">
            </td>
        </tr>
    </table>

    <table class="table input-group">
        <caption>Please select differential expression analysis options.</caption>
        <tr>
            <td class="key">Differential expression method</td>
            <td class="value">
                <select class="diffexp_method" name="diffexp_method">
                    <option value="chdir" selected="selected">Characteristic Direction</option>
                    <option value="ttest">T-test</option>
                </select>
            </td>
        </tr>
        <tr class="chdir">
            <td class="key">Cutoff</td>
            <td class="value">
                <select id="cutoff"name="cutoff">
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="200">200</option>
                </select>
            </td>
        </tr>
        <tr class="ttest">
            <td class="key">Correction method</td>
            <td class="value">
                <select class="correction_method"name="correction_method">
                    <option value="BH">Benjamini-Hochberg</option>
                    <option value="bonferroni">Bonferroni</option>
                </select>
            </td>
        </tr>
        <tr id="threshold_row" class="ttest">
            <td class="key">Threshold</td>
            <td class="value">
                <select name="threshold">
                    <option value="0.01">0.01</option>
                    <option value="0.05">0.05</option>
                </select>
            </td>
        </tr>
    </table>

    <table class="table input-group">
        <caption>Please input optional metadata.</caption>
        <tr>
            <td class="key">Cell type or tissue</td>
            <td class="value">
                <input type="text" class="form-control input-sm" name="cell" value="">
            </td>
        </tr>
        <tr>
            <td class="key">Perturbation</td>
            <td class="value">
                <input type="text" class="form-control input-sm" name="perturbation" value="">
            </td>
        </tr>
        <tr>
            <td class="key">Manipulated gene</td>
            <td class="value">
                <input type="text" class="form-control input-sm" name="gene" value="">
            </td>
        </tr>
        <tr>
            <td class="key">Relevant disease</td>
            <td class="value">
                <input type="text" class="form-control input-sm" name="disease" value="">
            </td>
        </tr>
    </table>

    <table class="table" id="tags">
        <caption>Apply metadata tags.</caption>
        <tr>
            <td class="key">Tags</td>
            <td class="value">
                <ul></ul>
            </td>
        </tr>
    </table>

    <button class="btn btn-default" id="upload-button" type="submit">Extract gene lists</button>
</form>