<h2>Use a browser extension</h2>
<section class="last">
    <p>GEO2Enrichr can be used in either Chrome or Firefox. Firefox support is limited. Please follow the instructions below:</p>
    <table class="extensions">
        <tr>
            <td>
                <a href="https://chrome.google.com/webstore/detail/geo2enrichr/pcbdeobileclecleblcnadplfcicfjlp" target="_blank">
                    <img src="static/image/chrome.png" class="browser-logo" />
                </a>
            </td>
            <td>
                <ol>
                    <li>Visit GEO2Enrichr on the <a href='https://chrome.google.com/webstore/detail/geo2enrichr/pcbdeobileclecleblcnadplfcicfjlp' target='_blank'>Chrome Web Store</a>.</li>
                    <li>Click the <strong>+FREE</strong> button</li>
                </ol>
            </td>
        </tr>
        <tr class="last">
            <td>
                <a href="" target="_blank">
                    <img src="static/image/firefox.png" class="browser-logo" />
                </a>
            </td>
            <td>
                <ol>
                    <li>Download <a href="static/geo2enrichr.xpi">this .xpi file</a>.</li>
                    <li>Open Firefox.</li>
                    <li>Click the top-right menu.</li>
                    <li>Click <strong>Add-ons</strong>.</li>
                    <li>Click <strong>Install Add-on From File</strong>.</li>
                    <li>Navigate to the .xpi file and upload it.</li>
                </ol>
            </td>
        </tr>
    </table>
    <p>See the <a href="manual">manual</a> for more information.</p>
</section>