<div class="footer">
    <div class="wrapper">
        <p>Gregory W. Gundersen, Matthew R. Jones, Andrew D. Rouillard, Yan Kou, Caroline D. Monteiro, Axel S. Fledmann, Kevin S. Hu, Avi Ma’ayan. GEO2Enrichr: browser extension and server app to extract gene sets from GEO and analyze them for biological functions. <a href="http://www.ncbi.nlm.nih.gov/pubmed/25971742" target="_blank">Bioinformatics. 2015 May 13. pii: btv297 PMID: 25971742</a>.</p>
        <p>GEO2Enrichr is actively developed by the <a href='http://icahn.mssm.edu/research/labs/maayan-laboratory' target='_blank'>Ma'ayan Laboratory</a> at the <a href='http://icahn.mssm.edu/' target='_blank'>Icahn School of Medicine at Mount Sinai</a> as a part of the efforts of the <a href='http://www.lincs-dcic.org/' target='_blank'>BD2K-LINCS-DCIC</a> and <a href='http://commonfund.nih.gov/idg/index' target='_blank'>KMC-IDG</a>, which are <a href="https://commonfund.nih.gov/ " target="_blank">NIH Common Fund</a> sponsored centers.</p>
        <p>Please contact Avi Ma’ayan and Gregory Gundersen for comments, suggestions, and support: <a href="mailto:avi.maayan@mssm.edu">avi.maayan@mssm.edu</a>, <a href="mailto:gregory.gundersen@mssm.edu">gregory.gundersen@mssm.edu</a>.</p>
    </div>
</div>
