<div class="header">
    <div id="logo">
        <div class="wrapper">
            <img src="static/image/logo-50x50.png">
            <h1>
                <a href=""><span>GEO2</span><span class="highlight">Enrichr</span></a>
            </h1>
        </div>
    </div>
    <div class="wrapper">
        <nav>
            <ul>
                <li class="first">
                    <a href="documentation" class="api">API</a>
                </li>
                <li>
                    <a href="manual" class="manual">Manual</a>
                </li>
                <li>
                    <a href="pipeline" class="pipeline">Pipeline</a>
                </li>
                <li class="last">
                    <a href="about" class="about">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>