{% extends 'wrapper.html' %}

{% block body %}

    <script src="static/js/upload_file.js"></script>

    <div id="index-page">
        <div id="intro-text">
            <p>{{ num_gene_signatures }} gene signatures processed!</p>
            <p>GEO2Enrichr is a web application and two browser extensions designed to ease the extraction of signatures from studies posted on the <a href='https://www.ncbi.nlm.nih.gov/geo/' target='_blank'>Gene Expression Omnibus (GEO)</a> database as well as extract signatures from your own data tables.</p>
        </div>
        <div class="row">
            <div class="col-md-5">
                {% include 'partials/extensions.html' %}
            </div>
            <div class="col-md-7">
                {% include 'partials/upload_file.html' %}
            </div>
        </div>
    </div>

{% endblock %}