{% extends 'wrapper.html' %}

{% block body %}

    <link href="static/style/tags.css" rel="stylesheet" type="text/css"/>
    <!-- TagIt depends on jQuery UI -->
    <script src="static/lib/jquery/jquery-ui.js"></script>
    <script src="static/lib/tag-it/tag-it.js"></script>
    <script src="static/js/upload.js"></script>

    <div id="index-page">
        <div id="intro-text">
            <p>{{ stats.num_gene_signatures }} gene signatures processed!</p>
            <p>GEO2Enrichr is a web application and two browser extensions designed to ease the extraction of signatures from studies posted on the <a href='http://www.ncbi.nlm.nih.gov/geo/' target='_blank'>Gene Expression Omnibus (GEO)</a> database as well as extract signatures from your own data tables.</p>
        </div>
        <div class="row">
            <div class="col-md-5">
                {% include 'partials/extensions.html' %}
            </div>
            <div class="col-md-7">
                {% include 'partials/form.html' %}
            </div>
        </div>
    </div>

{% endblock %}