{% extends 'wrapper.html' %}

{% block title %}
    {% if metadata_value %}
        {{ metadata_name|capitalize }} - {{ metadata_value }}
    {% else %}
        {{ metadata_name|capitalize }}
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'partial/consensus.html' %}

    <div class="metadata-page">
        <h1>{{ metadata_name }} <span class="note">{{ num_tags }} gene signatures</span></h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Results</th>
                        <th>Title</th>
                        <th>Summary</th>
                        <th>Organism</th>
                        <th>Platform</th>
                        <th>Optional Metadata</th>
                        <th>Tags</th>
                        <th><i class="fa fa-check"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in metadata %}
                        {% set sig = row.gene_signature %}
                        {% set dataset = sig.soft_file.dataset %}
                        <tr>
                            <td class="index">{{ loop.index }}</td>
                            <td class="results">
                                <a href="{{ sig.extraction_id|c_results_url }}">
                                    <i class="fa fa-file-o"></i>
                                </a>
                            </td>
                            <td class="title">{{ dataset.title|c_filter_empty }}</td>
                            <td class="summary">{{ dataset.summary|c_filter_empty }}</td>
                            <td class="organism">
                                {% set organism = sig.optional_metadata|c_filter_organism|c_filter_empty %}
                                {% if organism %}
                                    <a href="{{ organism|c_metadata_value_url('organism') }}">
                                        {{ organism }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="platform">
                                {% set platform = dataset.platform|c_filter_empty %}
                                {% if platform %}
                                    <a href="{{ platform|c_metadata_value_url('platform') }}">
                                        {{ platform }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="optional-metadata">
                                <div class="optional-metadata-content">
                                    <table>
                                    {% for opt_meta in sig.optional_metadata|c_filter_optional_metadata %}
                                        <tr>
                                            <td>{{ opt_meta.name|c_replace_underscores|capitalize }}</td>
                                            <td>
                                                <a href="{{ opt_meta.value|c_metadata_value_url(opt_meta.name) }}">
                                                    {{ opt_meta.value }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                            </td>
                            <td class="tags">
                                {% for tag in sig.tags %}
                                    <span class="badge">
                                        <a href="{{ tag.name|c_tag_url }}">{{ tag.name }}</a>
                                    </span>
                                {% endfor %}
                            </td>
                            <td class="select-box">
                                <input type="checkbox" class="consensus" name="{{ sig.extraction_id }}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}