{% extends 'wrapper.html' %}
{% block body %}

    <script src="static/js/lib/highcharts.js"></script>
    <script src="static/js/lib/highcharts-3d.js"></script>
    <script src="static/js/lib/highcharts-exporting.js"></script>
    <script src="static/js/pca.js"></script>

    <p><a href="{{ results_url }}/{{ extraction_id }}">Return to results page</a></p>
    <div id="pca-container"></div>

    <script>
    $(function () {
        plotPCA({{ pca_data|safe }});
    });
    </script>
{% endblock %}