{% extends 'wrapper.html' %}

{% block title %}Stats{% endblock %}

{% block body %}

    <link href='static/style/about.css' rel='stylesheet' type='text/css'/>
    <script src="static/lib/highcharts/highcharts.js"></script>
    <script src="static/js/stats.js"></script>

    <div id="stats-page">
        <section class="row last">
            <div class="col-md-6">
                <h1>Gene signatures by platform</h1>
                <p class="instruction">Log10 scale</p>
                <div id="platforms-bar-chart"></div>
            </div>
            <div class="col-md-6">
                <h1>Stats</h1>
                <table class="table">
                    <tr>
                        <td class="col-md-3">Gene signatures</td>
                        <td class="col-md-9">{{ stats.num_gene_signatures }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Gene lists</td>
                        <td class="col-md-9">{{ stats.num_gene_lists }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Tags</td>
                        <td class="col-md-9">{{ stats.num_tags }}
                            <a href="explore/tags">(see all)</a>
                        </td>
                    </tr>
                    <tr class="last">
                        <td class="col-md-3">Platforms</td>
                        <td class="col-md-9">{{ stats.num_platforms }}</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>

    <script>
        $(function() {
            buildStats({{ stats_json|safe }});
        });
    </script>

{% endblock %}