{% extends 'wrapper.html' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block body %}

    {% include 'partial/consensus.html' %}

    <div class="tag-page">
        <h1>{{ tag.name }}<span class="note">{{ num_tags }} gene signatures</span></h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Results</th>
                        <th>Title</th>
                        <th>Summary</th>
                        <th>Organism</th>
                        <th>Platform</th>
                        <th>Optional Metadata</th>
                        <th><i class="fa fa-check"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for gene_signature in tag.gene_signatures %}
                        {% set dataset = gene_signature.soft_file.dataset %}
                        <tr>
                            <td class="index">{{ loop.index }}</td>
                            <td class="results">
                                <a href="{{ gene_signature.extraction_id|c_results_url }}">
                                    <i class="fa fa-file-o"></i>
                                </a>
                            </td>
                            <td class="title">{{ dataset.title|c_filter_empty }}</td>
                            <td class="summary">{{ dataset.summary|c_filter_empty }}</td>
                            <td class="organism">
                                {% if dataset.organism %}
                                    <a href="{{ dataset.organism|c_metadata_value_url('organism') }}">
                                        {{ dataset.organism }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="platform">
                                <a href="{{ gene_signature.soft_file.platform|c_metadata_value_url('platform') }}">
                                    {{ gene_signature.soft_file.platform|c_filter_empty }}
                                </a>
                            </td>
                            <td class="optional-metadata">
                                {% if gene_signature.optional_metadata|c_filter_optional_metadata %}
                                    <div class="optional-metadata-content">
                                        <table>
                                        {% for opt_meta in gene_signature.optional_metadata|c_filter_optional_metadata %}
                                            <tr>
                                                <td>{{ opt_meta.name|c_replace_underscores|capitalize }}</td>
                                                <td>
                                                    <a href="{{ opt_meta.value|c_metadata_value_url(opt_meta.name) }}">
                                                        {{ opt_meta.value }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="select-box">
                                <input type="checkbox" class="consensus" name="{{ gene_signature.extraction_id }}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}