{% extends 'wrapper.html' %}
{% block body %}

    {% include 'partial/consensus.html' %}

    <div class="tag">
        <h1>{{ tag.name }}<span class="note">{{ num_tags }} gene signatures</span></h1>
        <table>
            <thead>
                <tr>
                    <th>Results Page</th>
                    <th>Organism</th>
                    <th>Platform</th>
                    <th>Optional Metadata</th>
                    <th>Visualize</th>
                </tr>
            </thead>
            <tbody>
                {% for gene_signature in tag.gene_signatures %}
                    <tr>
                        <td>
                            <a href="{{ base_url }}/{{ gene_signature.extraction_id }}">{{ gene_signature.extraction_id }}</a>
                        </td>
                        <td>
                            {% for opt_meta in gene_signature.optional_metadata %}
                                {% if opt_meta.name == 'organism' %}
                                    {{ opt_meta.value }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="platform">
                            {{ gene_signature.soft_file.platform }}
                        </td>
                        <td>
                            <dl>
                            {% for opt_meta in gene_signature.optional_metadata %}
                                {% if opt_meta.name != 'organism' %}
                                    <dt>{{ opt_meta.name }}</dt>
                                    <dd>{{ opt_meta.value }}</dd>
                                {% endif %}
                            {% endfor %}
                            </dl>
                        </td>
                        <td>
                            <input type="checkbox" class="consensus" name="{{ gene_signature.extraction_id }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}