{% extends 'wrapper.html' %}
{% block body %}

    <div class="tag">
        <h1>{{ tag.name }}<span class="note">{{ num_tags }} gene signatures</span></h1>
        <table>
            <thead>
                <tr>
                    <th>Link</th>
                    <th>Organism</th>
                    <th>Cell</th>
                    <th>Perturbation</th>
                    <th>Gene</th>
                    <th>Disease</th>
                </tr>
            </thead>
            {% for extraction in tag.extractions %}
                <tr>
                    <td><a href="{{ base_url }}/{{ gene_signature.extraction_id }}">{{ gene_signature.extraction_id }}</a></td>
                    <td>{{ gene_signature.exp_metadata.organism if gene_signature.exp_metadata.organism != None }}</td>
                    <td>{{ gene_signature.exp_metadata.cell if gene_signature.exp_metadata.cell != None}}</td>
                    <td>{{ gene_signature.exp_metadata.perturbation if gene_signature.exp_metadata.perturbation != None}}</td>
                    <td>{{ gene_signature.exp_metadata.gene if gene_signature.exp_metadata.gene != None}}</td>
                    <td>{{ gene_signature.exp_metadata.disease if gene_signature.exp_metadata.disease != None}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}