{% extends 'wrapper.html' %}

{% block title %}Tags{% endblock %}

{% block body %}

    <div class="tag">
        <h1>Tags <span class="note">{{ num_tags }} metadata tags</span></h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        {% if tag.name|c_filter_empty %}
                            <tr>
                                <td>
                                    <span class="badge">
                                        <a href="{{ tag.name|c_tag_url }}">{{ tag.name }}</a>
                                    </span>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}