<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {% if self.title() %}
            <title>{% block title %}{% endblock %}</title>
        {% else %}
            <title>GEO2Enrichr</title>
        {% endif %}

        <base href="/g2e/"/>

        <!-- jQuery / jQuery UI --------------------------------------------->
        <link href="static/lib/jquery/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="static/lib/jquery/jquery-ui.js"></script>

        <link href="static/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <script src="static/lib/bootstrap/js/bootstrap.js"></script>
        
        <!-- Redirect if necessary: see file for comment. ------------------->
        <script src="static/js/redirect.js"></script>

        <link rel="icon" href="static/image/favicon.ico" type="image/x-icon">

        <!-- Fonts ---------------------------------------------------------->
        <link href="static/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic'
              rel='stylesheet' type='text/css'>

        <!-- jQuery / jQuery UI --------------------------------------------->
        <link href="static/lib/jquery/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="static/lib/jquery/jquery-ui.js"></script>

        <link href="static/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <script src="static/lib/bootstrap/js/bootstrap.js"></script>

        <!-- Tag It --------------------------------------------------------->
        <script src="static/lib/tag-it/tag-it.js"></script>

        <!-- GEO2Enrichr includes ------------------------------------------->
        <link href="static/style/main.css" rel="stylesheet" type="text/css"/>
        <link href="static/style/pages.css" rel="stylesheet" type="text/css"/>
        <link href="static/style/tags.css" rel="stylesheet" type="text/css"/>
        <script src="static/js/common.js"></script>
        <script src="static/js/utils.js"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-KZBFQM6MLQ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { window.dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-KZBFQM6MLQ');
        </script>
    </head>
    <body>
        {% with use_simple_header = use_simple_header %}
            {% include 'partials/header.html' %}
        {% endwith %}
        <div class="container-full">
            <div id="page" class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% include 'partials/footer.html' %}
    </body>
</html>
