<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {% if self.title() %}
            <title>{% block title %}{% endblock %}</title>
        {% else %}
            <title>GEO2Enrichr</title>
        {% endif %}

        <base href="/g2e/" />

        <!-- Redirect if necessary: see file for comment. -->
        <script src="static/js/redirect.js"></script>

        <link rel="icon" href="static/image/favicon.ico" type="image/x-icon">

        <link href="static/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <link href="static/lib/jquery/jquery-ui.min.css" rel="stylesheet" type="text/css"/>

        <link href="static/style/open-sans.css" rel="stylesheet" type="text/css"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

        <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

        <link href="static/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <script src="static/lib/bootstrap/js/bootstrap.js"></script>

        <link href="static/style/main.css" rel="stylesheet" type="text/css"/>
        <link href="static/style/pages.css" rel="stylesheet" type="text/css"/>
        <script src="static/js/common.js"></script>
        <script src="static/js/utils.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
            ga("create", "UA-6277639-22", "auto");
            ga("send", "pageview");
        </script>
    </head>
    <body>
        {% with use_simple_header = use_simple_header %}
            {% include 'partials/header.html' %}
        {% endwith %}
        <div class="container-full">
            <div id="page" class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% include 'partials/footer.html' %}
    </body>
</html>