/* Modal general
 * ------------- */
#g2e-container {
	background-color: rgba(0, 0, 0, 0.15); /* http://stackoverflow.com/a/806189/1830334 */
	font-family: Verdana, Arial, Sans-serif;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000; 
}
#g2e-container #g2e-modal {
	background-color: rgba(255, 255,255, 1); /* http://stackoverflow.com/a/806189/1830334 */
	border: 1px solid #808080;
	left: 50%;
	margin-left: -380px;
	padding: 10px;
	position: fixed;
	top: 70px;
}
#g2e-container .g2e-strong {
	font-weight: 700;
}
#g2e-container .g2e-warning {
	color: 700;
}
#g2e-container .g2e-highlight {
	color: #d90000;
}
#g2e-container .g2e-lowlight {
	font-size: 12px;
	font-style: italic;
	color: #555555;
}
#g2e-container p,
#g2e-container span,
#g2e-container tr {
	font-family: Verdana, Arial, Sans-serif;
	font-size: 12px;
}
#g2e-container .g2e-last {
	padding-top: 20px;
}
#g2e-container a {
	color: blue;
	font-family: Verdana, Arial, Sans-serif;
	padding-right: 10px;
}
#g2e-container a:hover,
#g2e-container a:active,
#g2e-container a:visited {
	color: blue;
}

/* Modal columns
 * ------------- */
#g2e-container .column {
	padding: 10px;
	position: relative;
}
#g2e-container .column.left {
	border-right: 1px solid #ccc;
	float: left;
	width: 200px;
}
#g2e-container .column.right {
	float: right;
	width: 500px;
}
#g2e-container #g2e-forms,
#g2e-container #g2e-confirm {
	height: 205px;
}
#g2e-container #g2e-actions,
#g2e-container #g2e-progress-bar {
	height: 65px;
}

/* Modal title
 * ----------- */
#g2e-container #g2e-title {
	/*border-bottom: 1px solid #ccc;*/
	margin: 10px;
}
#g2e-container #g2e-title a,
#g2e-container #g2e-title a:hover {
	color: #000;
}
#g2e-container #g2e-title a:hover {
	cursor: pointer;
	text-decoration: none;
}
#g2e-container #g2e-title img {
	width: 40px;
}
#g2e-container #g2e-title span {
	font-size: 30px;
	font-family: 'Droid Sans';
	left: 10px;
	position: relative;
	top: -8px;
}
#g2e-container #g2e-title #g2e-close-btn {
	color: #808080;
	cursor: pointer;
	float: right;
	padding: 0 2px;
}

/* Modal form
 * ---------- */
#g2e-container .g2e-form  h4 {
	font-family: 'Droid Sans';
	font-size: 14px;
	margin: 0 0 10px 0;
	padding: 0;
}
#g2e-container .g2e-form .g2e-lbl {
	display: inline-block;
	font-size: 12px;
	padding-left: 10px;
	position: relative;
	text-align: left;
	top: -2px;
	width: 150px;
}
#g2e-container .g2e-block {
	height: 18px;
}
#g2e-container input {
	margin: 0;
}

/* Modal footer buttons
 * -------------------- */
#g2e-footer > div {
	padding: 20px 0 10px 0;
}
#g2e-container #g2e-footer {
	clear: both;
	padding-top: 10px;
}
#g2e-container #g2e-footer .g2e-btn {
	display: block;

}
#g2e-container #g2e-footer #g2e-download-btn {
	margin-top: 10px;
}
#g2e-container #g2e-footer #g2e-submit-btn {
	margin-right: 20px;
}

/* Modal footer progress bar
 * ------------------------- */
#g2e-container #g2e-progress-bar {
	display: none;
}
#g2e-container #g2e-progress-bar .g2e-progress {
	background: #D3D3D3;
	color: gray;
	float: left;
	font-family: Verdana, Arial, Sans-serif;
	font-size: 10px;
	height: 15px;
	padding: 5px;
}
#g2e-container #g2e-progress-bar #g2e-step1,
#g2e-container #g2e-progress-bar #g2e-step2,
#g2e-container #g2e-progress-bar #g2e-step3 {
	border-right: 1px solid #bdbdbd;
}
#g2e-container #g2e-progress-bar h4 {
	font-family: 'Droid Sans';
	font-size: 14px;
	padding: 15px 0 0 0;
	margin: 0;
}

/* Modal confirm
 * ------------- */
#g2e-container #g2e-confirm-tbl {
	padding-top: 10px;
	table-layout: fixed;
	width: 100%
}
#g2e-container #g2e-confirm-tbl td {
	padding: 0;
	vertical-align: top;
	word-wrap: break-word;
}
#g2e-container #g2e-confirm-tbl td.g2e-subtitle {
	width: 100px;
}
#g2e-container #g2e-confirm-tbl td.g2e-edit {
	text-align: right;
	width: 40px;
}
#g2e-container #g2e-confirm-tbl td.g2e-edit:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* Embedded button
 * --------------- */
#g2e-embedded-button {
	color: #d90000;
	cursor: pointer;
}
#g2e-embedded-button span {
	display: inline-block;
}
#g2e-embedded-button span:hover {
	text-decoration: underline;
}
#g2e-embedded-button b,
#g2e-embedded-button span {
	position: relative;
	top: 8px;
}
#g2e-embedded-button img {
	float: right;
	width: 32px;
}

/* Embedded table
 * -------------- */
#g2e-table-title {
	color: #d90000;
}