<table class="form">
    <caption>Please select a file to upload and input required metadata.</caption>
    <tr>
        <td>File (500 MB max)</td>
        <td>
            <input type="file" name="file">
        </td>
    </tr>
    <tr>
        <td>Description</td>
        <td>
            <input name="name" value="<%= dataset %>">
        </td>
    </tr>
    <tr>
        <td>Platform</td>
        <td>
            <input name="platform" value="<%= platform %>">
        </td>
    </tr>
    <tr>
        <td>Organism</td>
        <td>
            <input name="organism" value="<%= organism %>">
        </td>
    </tr>
</table>
