<table class="form">
    <caption>Please select differential expression analysis options.</caption> 
    <tr>
        <td>Differential expression method</td>
        <td>
            <select id="diffexp_method" name="diffexp_method">
                <option value="chdir">Characteristic Direction</option>
                <option value="ttest" selected="selected">T-test</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Correction method</td>
        <td>
            <select id="correction_method" name="correction_method">
                <option value="BH">Benjamini-Hochberg</option>
                <option value="bonferroni">Bonferroni</option>
                <option value="none">None</option>
            </select>
        </td>
    </tr>
    <tr id="threshold_row">
        <td>Threshold</td>
        <td>
            <select name="threshold">
                <option value="0.1">0.1</option>
                <option value="0.5">0.5</option>
                <option value="none">None</option>
            </select>
        </td>
    </tr>
</table>
