<table class="form">
    <caption>Please input optional metadata.</caption> 
    <tr>
        <td>Cell type or tissue</td>
        <td>
            <input name="cell" value="<%= cell %>">
        </td>
    </tr>
    <tr>
        <td>Perturbation</td>
        <td>
            <input name="perturbation" value="<%= perturbation %>">
        </td>
    </tr>
    <tr>
        <td>Manipulated gene</td>
        <td>
            <input name="gene" value="<%= gene %>">
        </td>
    </tr>
    <tr>
        <td>Relevant disease</td>
        <td>
            <input name="disease" value="<%= disease %>">
        </td>
    </tr>
</table>
