<table class="form">
    <caption>Please select differential expression analysis options.</caption> 
    <tr>
        <td>Differential expression method</td>
        <td>
            <select id="diffexp_method" name="diffexp_method">
                <option value="chdir" selected="selected">Characteristic Direction</option>
                <option value="ttest">T-test</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Cutoff</td>
        <td>
            <select id="cutoff" name="cutoff">
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="200">200</option>
                <option value="none">None</option>
            </select>
        </td>
    </tr>
</table>
