<header>
    <div id="logo">
        <div class="wrapper">
            <img src="image/logo-50x50.png">
            <h1>
                <a href="#"><span>GEO2</span><span class="highlight">Enrichr</span></a>
            </h1>
        </div>
    </div>
    <div class="wrapper">
        <nav>
            <ul>
                <li class="first">
                    <a href="#api" class="api">API</a>
                </li>
                <li>
                    <a href="#tutorial" class="tutorial">Tutorial</a>
                </li>
                <li>
                    <a href="#pipeline" class="pipeline">Pipeline</a>
                </li>
                <li class="last">
                    <a href="#about" class="about">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div id="content" class="wrapper"></div>

<!-- This element is responsible for pushing the footer down,
    ensuring content does not overlap.

    See: http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
-->
<div class="push"></div>
