#consensus .description {
  background: #f5f5f5;
  margin-top: 20px;
  padding: 10px;
}
#consensus .description h4 {
  margin: 0;
}
#consensus .options button {
  display: block;
  margin-top: 5px;
}
#consensus ol {
  margin-top: 10px;
  padding-left: 20px;
}
#consensus #pca-container,
#consensus #clustergrammer-preview,
#consensus #l1000cds2-preview,
#consensus #enrichr-preview {
  display: none;
}
#consensus #clustergrammer-preview iframe,
#consensus #enrichr-preview iframe,
#consensus #l1000cds2-preview iframe {
  border: 1px solid #eeeeee;
  height: 1000px;
  margin-top: 20px;
  width: 100%;
}
#consensus #pca-container {
  margin-top: 20px;
}
table .optional-metadata {
  min-width: 300px;
}
.data-table {
  /* JS shows table when it's ready. */
}
.dataTables_wrapper .dataTables_filter input {
  border-radius: 0;
}
.dataTables_wrapper .pagination > li:first-child > a,
.dataTables_wrapper .pagination > li:first-child > span {
  border-radius: 0;
}
.dataTables_wrapper .pagination > li > a,
.dataTables_wrapper .pagination > li > span {
  border-color: #eeeeee;
}
.dataTables_wrapper .pagination > .active > a,
.dataTables_wrapper .pagination > .active > a:focus,
.dataTables_wrapper .pagination > .active > a:hover,
.dataTables_wrapper .pagination > .active > span,
.dataTables_wrapper .pagination > .active > span:focus,
.dataTables_wrapper .pagination > .active > span:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #444444;
}
.dataTables_wrapper .pagination > li > a,
.dataTables_wrapper .pagination > li > span {
  color: #444444;
}
.dataTables_wrapper .pagination > li:last-child > a,
.dataTables_wrapper .pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
