.column {
  width: 390px;
}
.column.left {
  padding-right: 9px;
}
.column.right {
  border-left: 1px solid #eeeeee;
  padding-left: 9px;
}
.content table.extensions {
  padding-bottom: 0;
}
.content table.extensions tr:first-child {
  padding-bottom: 10px;
}
.content table.extensions tr.last td {
  border: none;
}
.content table.extensions tr td {
  vertical-align: top;
}
.content table.extensions tr td p {
  margin: 0;
}
.content table.extensions tr td:first-child {
  width: 15%;
}
#example-file a {
  margin-left: 10px;
}
.search-bar input {
  border: 1px solid #eeeeee;
}
.search-bar button {
  position: relative;
  top: 2px;
  margin-left: 10px;
}
.twitter-typeahead {
  float: left;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  color: white;
}
.twitter-typeahead .tt-menu {
  width: 100%;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.twitter-typeahead .tt-suggestion {
  padding: 3px 20px;
}
.twitter-typeahead .tt-suggestion:hover {
  background: white;
  cursor: pointer;
}
