@import '../../extension/common/less/common.less';
@import 'variable.less';

.column {
    width: @dim-page-width / 2 - 10;
    &.left {
        padding-right: 9px;
    }
    &.right {
        border-left: 1px solid @color-lightgray3;
        padding-left: 9px;
    }
}
.content {
    table {
        &.extensions {
            padding-bottom: 0;
            tr {
                &:first-child {
                    padding-bottom: 10px;
                }
                &.last {
                    td {
                        border: none;
                    }
                }
                td {
                    vertical-align: top;
                    p {
                        margin: 0;
                    }
                    &:first-child {
                        width: 15%;
                    }
                }
            }
        }
    }
}
#example-file {
    a {
        margin-left: 10px;
    }
}
.search-bar {
    input {
        border: 1px solid @color-lightgray3;
    }
    button {
        position: relative;
        top: 2px;
        margin-left: 10px;
    }
}
.twitter-typeahead {
	float:left;
	.tt-query,
	.tt-hint {
		color: white;
	}
	.tt-menu {
	    width: 100%;
	    padding: 8px 0;
	    background-color: #fff;
	    border: 1px solid #ccc;
	    border: 1px solid rgba(0, 0, 0, 0.2);
	}
	.tt-suggestion {
	    padding: 3px 20px;
	    &:hover {
	    	background: white;
	    	cursor: pointer;
	    }
	}
}
