/* Reset
 * ----- */
html,
body {
  margin: 0;
}
/* Sticky Footer. Do not change.
 * ----------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 200px;
  /* bottom = footer height */
}
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
}
/* Class and tag selectors.
 * ------------------------ */
body {
  font-family: arial, sans-serif;
  font-size: 13px;
}
input {
  border: none;
  font-size: 13px;
}
a {
  color: #009dff;
  text-decoration: none;
}
a:hover {
  color: #006eb3;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 25px;
}
img {
  max-width: 100%;
  vertical-align: inherit;
  /* Bootstrap override */
}
img.center {
  display: block;
  margin: 0 auto;
}
form button.submit {
  font-size: 14px;
}
form .description {
  background: #f5f5f5;
  margin-top: 10px;
  padding: 5px;
}
form .description p {
  margin: 10px;
}
table {
  padding-bottom: 0;
}
table td {
  border: none;
}
section {
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
section.last {
  border: none;
}
select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-position: right 50% !important;
  background-repeat: no-repeat !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=) !important;
  padding: .5em !important;
  padding-right: 1.5em !important;
  border-radius: 0 !important;
  line-height: inherit !important;
}
pre,
.code {
  border-radius: 0;
  background: #f9f9f9;
  font-family: 'Consolas', courier, monospace;
  /* Example links overflow the pre tag if the text is too large. */
  font-size: 12px;
}
pre {
  border: none;
  white-space: pre-wrap;
  /* CSS 3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
.fa {
  color: #444444;
}
.fa:hover {
  color: #aaaaaa;
}
.loader {
  background-color: rgba(255, 255, 255, 0.75);
  cursor: wait;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.loader .modal {
  background: #fffac7;
  border: 1px solid #fff169;
  color: #444444;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  position: absolute;
  left: 0;
  text-align: center;
  right: 0;
  top: 200px;
  width: 75px;
}
.mono {
  font-family: monospace;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.highlight {
  color: #d90000;
}
caption {
  font-style: italic;
  margin-top: 10px;
  padding: 0;
}
.tooltip {
  opacity: 1 !important;
  /* This is the color of the arrow: http://stackoverflow.com/a/15383656/1830334 */
}
.tooltip .tooltip-inner {
  background: #fffac7;
  border: 1px solid #fff169;
  color: #444444;
  font-weight: bold;
  border-radius: 0;
  text-align: left;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 400px;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #fff169 !important;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #fff169 !important;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff169 !important;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #fff169 !important;
}
.instruction {
  font-size: 13px;
  font-style: italic;
}
.capitalize-initial:first-letter {
  text-transform: uppercase;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.label {
  background-color: #777;
  border-radius: 0;
}
.label a {
  color: white;
  font-weight: bold;
}
.label a:hover,
.label a:active,
.label a:focus {
  color: white;
  text-decoration: none;
}
.label:hover {
  background-color: #444444;
}
/* Main structural elements:
 * header, content, footer
 * ----------------------------- */
#header {
  border-bottom: 1px solid #eeeeee;
}
#header #logo {
  background: #f5f5f5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #f9f9f9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
  /* W3C */
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
}
#header #logo a:hover {
  text-decoration: none;
}
#header a {
  border: none;
  color: #444444;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
#header a:hover {
  cursor: pointer;
  color: #444444;
}
#header ul.nav li {
  border-right: 1px solid #eeeeee;
}
#header ul.nav li a {
  font-size: 12px;
  line-height: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
}
#header ul.nav li a:hover {
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
}
#header ul.nav li.last {
  border-right: none;
}
#header img {
  width: 30px;
}
#header h1 {
  display: inline;
  margin-left: 10px;
}
#header h1 a {
  font-size: 40px;
}
#page {
  padding-bottom: 50px;
}
#footer {
  border-top: 3px solid #253238;
  background-color: #36474f;
  color: white;
}
#footer h5 {
  color: white;
}
#footer a,
#footer p {
  font-size: 12px;
}
#footer a {
  color: #67c4ff;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer .container {
  margin-top: 20px;
}
#footer #share {
  padding-top: 10px;
}
#footer #share .company img {
  margin-left: 2px;
  width: 25px;
}
#footer #share .company img:hover {
  opacity: 0.75;
}
/* Library Overrides
 * ----------------- */
.ui-widget {
  font-family: arial, sans-serif;
  font-size: 13px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: #444444;
}
.hljs {
  background-color: #f9f9f9 !important;
}
.btn-default {
  border-radius: 0;
  padding: 4px 8px;
}
