/* Fonts
 * ------------------------------------------------------------------------ */
/* Colors
 * ------------------------------------------------------------------------ */
/* Grays */
/* Main palette */
#page {
  margin-top: 20px;
  padding-bottom: 50px;
}
#index-page {
  margin-top: 30px;
}
#index-page table {
  table-layout: fixed;
  width: 100%;
}
#index-page table.extensions tr:first-child {
  padding-bottom: 10px;
}
#index-page table.extensions tr.last td {
  border: none;
}
#index-page table.extensions tr td {
  vertical-align: top;
}
#index-page table.extensions tr td p {
  margin: 0;
}
#index-page table.extensions tr td:first-child {
  width: 15%;
}
#index-page #intro-text p {
  font-size: 16px;
}
#index-page #intro-text p:first-child {
  font-style: italic;
}
#index-page #example-file a {
  position: relative;
  left: 10px;
}
#index-page table,
#results-page table {
  vertical-align: middle;
}
#index-page table caption,
#results-page table caption {
  border-bottom: 1px solid #eeeeee;
}
#index-page table tr th,
#results-page table tr th,
#index-page table tr td,
#results-page table tr td {
  border-top: 1px solid #eeeeee;
  padding: 4px;
}
#index-page table tr td:first-child,
#results-page table tr td:first-child {
  font-weight: bold;
  width: 30%;
}
#index-page .gene-lists,
#results-page .gene-lists {
  table-layout: fixed;
}
#results-page .gene-lists {
  /* This over-selects but we don't care since the table is filled with images. */
}
#results-page .gene-lists img {
  width: 15px;
}
#results-page .gene-lists img:hover {
  opacity: .5;
}
#results-page .gene-lists td {
  height: 20px;
}
#results-page .gene-lists tr {
  font-weight: bold;
}
#results-page #admin-controls {
  background-color: #f5f5f5;
  padding: 20px;
}
#results-page #admin-controls .instruction {
  margin-bottom: 20px;
}
#results-page #admin-controls .instruction p {
  margin: 0;
}
#results-page #admin-controls h3 {
  margin-top: 0;
}
#results-page #admin-controls #optional-metadata li {
  margin-top: 10px;
}
#results-page #admin-controls #optional-metadata #new-metadata input {
  margin-bottom: 10px;
  width: 100%;
}
#results-page #admin-controls #delete-gene-signature {
  border-top: 1px solid #aaaaaa;
  margin-top: 50px;
  padding-top: 10px;
}
#manual-page img,
#pipeline-page img {
  border: 1px solid #eee;
  width: 700px;
}
#cluster-page,
#pca-page {
  margin-top: 50px;
}
#cluster-page iframe {
  border: 1px solid #eeeeee;
  height: 1000px;
  width: 100%;
}
table td {
  vertical-align: middle !important;
}
table .optional-metadata-content {
  background-color: #f5f5f5;
  padding: 10px;
}
table .optional-metadata-content table {
  width: 100%;
}
table .optional-metadata-content table td:first-child {
  font-weight: bold !important;
  padding-right: 10px;
  width: 30%;
}
.tag-page .note,
.metadata-page .note {
  font-size: 12px;
  font-weight: normal;
  margin-left: 15px;
}
.metadata-page th,
.tag-page th {
  border-bottom: 2px solid #eeeeee;
  text-align: left;
}
