#index-page {
  margin-top: 30px;
}
#index-page table {
  table-layout: fixed;
  width: 100%;
}
#index-page table.extensions tr:first-child {
  padding-bottom: 10px;
}
#index-page table.extensions tr.last td {
  border: none;
}
#index-page table.extensions tr td {
  vertical-align: top;
}
#index-page table.extensions tr td p {
  margin: 0;
}
#index-page table.extensions tr td:first-child {
  width: 15%;
}
#index-page #intro-text {
  font-size: 16px;
}
#index-page #example-file a {
  position: relative;
  left: 10px;
}
#index-page table,
#results-page table {
  vertical-align: middle;
}
#index-page table caption,
#results-page table caption {
  border-bottom: 1px solid #eeeeee;
}
#index-page table tr th,
#results-page table tr th,
#index-page table tr td,
#results-page table tr td {
  border-top: 1px solid #eeeeee;
  padding: 4px;
}
#index-page table tr td:first-child,
#results-page table tr td:first-child {
  font-weight: bold;
  width: 30%;
}
#index-page .gene-lists,
#results-page .gene-lists {
  table-layout: fixed;
}
#results-page ul {
  padding-left: 15px;
}
#results-page .gene-lists {
  /* This over-selects but we don't care since the table is filled with images. */
}
#results-page .gene-lists img {
  width: 15px;
}
#results-page .gene-lists img:hover {
  opacity: .5;
}
#results-page .gene-lists td {
  height: 20px;
}
#results-page .gene-lists tr {
  font-weight: bold;
}
#manual-page img,
#pipeline-page img {
  width: 700px;
}
#stats-page #platforms-bar-chart {
  height: 1000px;
}
table td {
  vertical-align: middle !important;
}
table .optional-metadata-content {
  background-color: #f5f5f5;
  padding: 10px;
}
table .optional-metadata-content table {
  width: 100%;
}
table .optional-metadata-content table td:first-child {
  font-weight: bold !important;
  padding-right: 10px;
  width: 30%;
}
.tag-page .index,
.metadata-page .index {
  width: 2%;
}
.tag-page .results,
.metadata-page .results {
  width: 4%;
}
.tag-page .select-box,
.metadata-page .select-box,
.tag-page .organism,
.metadata-page .organism,
.tag-page .platform,
.metadata-page .platform {
  width: 4%;
}
.tag-page .note,
.metadata-page .note {
  font-size: 12px;
  font-weight: normal;
  margin-left: 15px;
}
.tag-page .title {
  width: 10%;
}
.tag-page .summary {
  width: 40%;
}
.tag-page .optional-metadata {
  width: 40%;
}
.metadata-page .title {
  width: 10%;
}
.metadata-page .summary {
  width: 35%;
}
.metadata-page .optional-metadata {
  width: 30%;
}
.metadata-page .tags {
  width: 15%;
}
.metadata-page th,
.tag-page th {
  border-bottom: 2px solid #eeeeee;
  text-align: left;
}
