@import '../../extension/common/less/common.less';
@import 'variable.less';


#index-page {
    margin-top: 30px;
    table {
        &.extensions {
            tr {
                &:first-child {
                    padding-bottom: 10px;
                }
                &.last {
                    td {
                        border: none;
                    }
                }
                td {
                    vertical-align: top;
                    p {
                        margin: 0;
                    }
                    &:first-child {
                        width: 15%;
                    }
                }
            }
        }
    }
    #intro-text {
        font-size: 16px;
    }
    #example-file {
        a {
            position: relative;
            left: 10px;
        }
    }
}

#index-page,
#results-page {
    table {
        caption {
            border-bottom: 1px solid @color-lightgray3;
        }
        vertical-align: middle;
        tr {
            th,
            td {
                border-top: 1px solid @color-lightgray3;
                padding: 4px;
            }
            td {
                &:first-child {
                    font-weight: bold;
                    width: 30%;
                }
            }

        }
    }
    .gene-lists {
        table-layout: fixed;
    }
}

#results-page {
    ul {
        padding-left: 15px;
    }
    .gene-lists {
        img {
            width: 15px;
            &:hover {
                opacity: .5;
            }
        }
        td {
            height: 20px;
        }
        /* This over-selects but we don't care since the table is filled with images. */
        tr {
            font-weight: bold;
        }
    }
}

#manual-page,
#pipeline-page {
    img {
        width: 700px;
    }
}

#stats-page {
    #platforms-bar-chart {
        height: 1000px;
    }
}

table {
    td {
        vertical-align: middle !important;
    }
    .optional-metadata {
        background-color: @color-lightgray1;
        padding: 10px;
        table {
            width: 100%;
            td:first-child {
                font-weight: bold !important;
                padding-right: 10px;
                width: 30%;
            }
        }
    }
}

.metadata,
.tag {
    th {
        border-bottom: 2px solid @color-lightgray3;
        text-align: left;
    }
    td:first-child {
        font-weight: normal !important;
    }
    .note {
        font-size: 12px;
        font-weight: normal;
        margin-left: 15px;
    }
    dl {
        margin: 0;
        overflow: hidden;
        width: 100%;
    }
    dt {
        float: left;
        font-weight: normal;
        width: 20%;
    }
    dd {
        float: left;
        margin: 0;
        width: 80%;
    }
}