#index-page {
  margin-top: 30px;
}
#index-page table.extensions tr:first-child {
  padding-bottom: 10px;
}
#index-page table.extensions tr.last td {
  border: none;
}
#index-page table.extensions tr td {
  vertical-align: top;
}
#index-page table.extensions tr td p {
  margin: 0;
}
#index-page table.extensions tr td:first-child {
  width: 15%;
}
#index-page #intro-text {
  font-size: 16px;
}
#index-page #example-file a {
  position: relative;
  left: 10px;
}
#index-page table,
#results-page table {
  vertical-align: middle;
}
#index-page table caption,
#results-page table caption {
  border-bottom: 1px solid #eeeeee;
}
#index-page table tr th,
#results-page table tr th,
#index-page table tr td,
#results-page table tr td {
  border-top: 1px solid #eeeeee;
  padding: 4px;
}
#index-page table tr td:first-child,
#results-page table tr td:first-child {
  font-weight: bold;
  width: 30%;
}
#index-page .gene-lists,
#results-page .gene-lists {
  table-layout: fixed;
}
#results-page ul {
  padding-left: 15px;
}
#results-page .gene-lists {
  /* This over-selects but we don't care since the table is filled with images. */
}
#results-page .gene-lists img {
  width: 15px;
}
#results-page .gene-lists img:hover {
  opacity: .5;
}
#results-page .gene-lists td {
  height: 20px;
}
#results-page .gene-lists tr {
  font-weight: bold;
}
#manual-page img,
#pipeline-page img {
  width: 700px;
}
#stats-page #platforms-bar-chart {
  height: 1000px;
}
table td {
  vertical-align: middle !important;
}
table .optional-metadata {
  background-color: #f5f5f5;
  padding: 10px;
}
table .optional-metadata table {
  width: 100%;
}
table .optional-metadata table td:first-child {
  font-weight: bold !important;
  padding-right: 10px;
  width: 30%;
}
.metadata th,
.tag th {
  border-bottom: 2px solid #eeeeee;
  text-align: left;
}
.metadata td:first-child,
.tag td:first-child {
  font-weight: normal !important;
}
.metadata .note,
.tag .note {
  font-size: 12px;
  font-weight: normal;
  margin-left: 15px;
}
.metadata dl,
.tag dl {
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.metadata dt,
.tag dt {
  float: left;
  font-weight: normal;
  width: 20%;
}
.metadata dd,
.tag dd {
  float: left;
  margin: 0;
  width: 80%;
}
