/* Fonts
 * ------------------------------------------------------------------------ */
/* Colors
 * ------------------------------------------------------------------------ */
/* Grays */
/* Main palette */
#tags .tagit {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#tags ul {
  border: 1px solid #ccc;
  padding: 1px 5px;
  overflow: auto;
  margin: 0;
}
#tags ul input {
  border: none;
}
#tags ul li {
  display: block;
  float: left;
  border: none;
  border-radius: 4px;
  position: relative;
  top: 1px;
  margin: 2px 3px;
}
#tags ul li.choice {
  position: relative;
  line-height: inherit;
}
#tags ul li.tagit-choice-read-only {
  padding: .2em .5em .2em .5em;
}
.ui-widget-content {
  background: white;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #d3cbe0 !important;
  font-weight: normal;
}
input.tagit-hidden-field {
  display: none;
}
ul.tagit li.tagit-choice-editable {
  padding: 2px 3px;
}
ul.tagit li.tagit-new {
  padding: .25em 4px .25em 0;
}
ul.tagit li.tagit-choice .tagit-close {
  cursor: pointer;
  float: right;
  top: 50%;
}
/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
  display: none;
}
ul.tagit li.tagit-choice a.tagit-label {
  cursor: pointer;
  text-decoration: none;
}
ul.tagit li.tagit-choice input {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  width: inherit;
  background-color: inherit;
  outline: none;
}
