/* Reset
 * ----- */
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'arial', 'sans-serif';
  font-size: 13px;
}
/* Tag selectors 
 * ------------- */
input {
  border: none;
  font-size: 13px;
}
a {
  color: #009dff;
  text-decoration: none;
}
a:hover {
  color: #009dff;
  text-decoration: underline;
}
/* Page
 * ---- */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -75px;
}
footer,
.push {
  height: 75px;
}
footer {
  border-top: 1px solid #dddddd;
  background: #eeeeee;
  color: #444444;
  padding-top: 10px;
  width: 100%;
}
footer a,
footer p {
  font-size: 12px;
}
footer a {
  color: #009dff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.content {
  padding-bottom: 20px;
  width: 650px;
}
.content img {
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  width: 600px;
}
header {
  border-bottom: 1px solid #dddddd;
}
header #logo {
  background: #f5f5f5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f5f5f5 0%, #eeeeee 100%);
  /* W3C */
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
}
header a {
  border: none;
  background: transparent;
  color: black;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
header a:hover {
  cursor: pointer;
  color: #009dff;
}
header h1,
header ul {
  display: inline;
}
header nav {
  margin: 10px 0;
}
header ul {
  padding-left: 0;
}
header ul li {
  border-right: 1px solid #eeeeee;
  display: inline;
  list-style-type: none;
  padding: 0 10px;
}
header ul li a {
  font-size: 13px;
}
header ul li.last {
  border-right: none;
}
header ul li.first {
  padding-left: 0;
}
header img {
  width: 30px;
}
header h1 {
  margin-left: 10px;
}
header h1 a {
  font-size: 40px;
}
header .highlight {
  color: #d90000;
}
table.form {
  border-spacing: 0;
  width: 100%;
}
table.form tr {
  height: 25px;
}
table.form tr td {
  border-bottom: 1px solid #cccccc;
}
table.form tr td:first-child {
  font-weight: bold;
}
table.form .disabled {
  color: #aaaaaa;
}
table.form .disabled input {
  color: #aaaaaa;
}
table.form caption {
  font-style: italic;
  margin: 20px 0 5px 0;
  text-align: left;
}
#results div {
  font-size: 13px;
  font-family: 'arial', 'sans-serif';
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
#results table.up div {
  background-color: #009dff;
}
#results table.down div {
  background-color: red;
}
