body {
    font-family: Arial, Sans-serif;
}
p,
a,
li {
    font-size: 13px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited,
a:active {
    color: black;
}
strong {
    font-weight: bold;
}
.highlight {
    color: #d90000;
}
.mono {
    font-family: courier;
}
.underline {
    text-decoration: underline;
}

/* Sidebar */
#sidebar {
    background: #fff;
	border-right: 1px solid #ccc;
	box-shadow: 0 4px 12px rgba(0,0,0,.2);
    height: 100%;
    left: 0;
    padding: 30px 20px 20px 20px;
    position: fixed;
    top: 0;
    width: 150px;
}
#sidebar a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
#sidebar a:hover {
    color: #009DFF;
    text-decoration: none;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.75;
    padding-left: 0;
}

/* Content */
#content {
    margin-left: 220px;
    padding-bottom: 50px;
    position: relative;
    width: 550px;
}
#content section a {
    color: #009DFF;
    font-family: Arial, Sans-serif;
    font-size: 13px;
    text-decoration: none;
}
#content h3 {
    padding: 30px 0 0 0;
}
#content h3.first {
    padding: 0;
}
#content p {
    font-size: 13px;
    line-height: 1.35;
}
#content ol {
    padding-left: 20px;
    line-height: 1.35;
}
#content img {
    width: 100%;
}
#content #title,
#content #title a{
	font-size: 40px;
	font-family: 'Open Sans';
	margin-bottom: 0;
}
#content #title a:hover {
    text-decoration: none;
}
#content #subtitle {
    font-size: 14px;
	font-family: 'Open Sans';
	font-weight: normal;
	margin: 0 0 40px 0;
}
#content #subtitle a {
    font-size: 14px;
	font-family: 'Open Sans';
	font-weight: bold;
    cursor: pointer;	
}
#content #title span {
	position: relative;
	top: -5px;
}
#content #title #logo {
    width: 40px;
}
#content table {
    table-layout: fixed;
    border-spacing: 0;
    font-size: 13px;
    padding-bottom: 20px;
    width: 100%;
}
#content table caption {
    border-bottom: 2px solid #aaa;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
    text-align: left;
}
#content table tr {
    height: 25px;
}
#content table td {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
#content table tr td:first-child {
    font-weight: bold;
    width: 22%;
}
#content table tr td:last-child {
    word-wrap: break-word;
}
.caption {
    font-style: italic;
}
